/*!
 * Slick APP style sheet
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * The main css styles for sample application in
 */

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-inverse .brand{
	background: url(../img/slick_logo_white.png) center left no-repeat;
	padding-left: 40px !important;
}
