{% extends "Layouts/error.html" %}

{% block mainContent %}
<section class="row main-content">
    {% include "Session/messages.html" %}
    <div class="span12">
        <div class="well">
			<h2>{{ exception.getMessage }}</h2>
			<p>{{ exception.getDescription|raw }}</p>
		</div>
		{% if _debugMode == 2 %}
		<pre class="pre-scrollable">
{{ exception.getTraceAsString }}
		</pre>
		{% endif %}
    </div>
</section>
{% endblock %}

{% block footer %}
<p class="pull-right muted">
<small><strong>Slick Framework</strong> v{{ _version }}</small>
</p>
<div class=".clearfix"></div>
{% endblock %}