{% extends "Layouts/default.html" %}

{% block content %}
<div class="page-header">
  <h1>Well done! <small>Your application is running.</small></h1>
</div>

<div class="well">
  <h4>More about Slick</h4>
  <p>Slick is a PHP 5.3+ MVC framework that aim to be simple robust and cool to work with.<br />
The goal whas to create a simple framework that could be used to develop web applications with agile methodologies like SCRUM in mind.</p>
</div>

<div class="well">
  <h4>Slick documentation</h4>
  <p>Slick framework is fully documemted on-line in the Slick framework site on
	<a target="_blank" href="https://bitbucket.org/fsilva/slick-framework/wiki/Home">https://bitbucket.org/fsilva/slick-framework/wiki/Home</a></p>
</div>

<div class="well">
  <h4>Report a bug or problem</h4>
  <p>If you found a bug or have an ideia to enhance Slick framework please give it to us by placing an issue in our issue tracking system on 
	<a target="_blank" href="https://bitbucket.org/fsilva/slick-framework/issues?status=new&status=open">https://bitbucket.org/fsilva/slick-framework/issues?status=new&status=open</a></p>
</div>
{% endblock %}