<div class="flash-messages">
{% for type, messageList in _session.flushMessages %}
	<div class="alert flash-message {{ type }} alert-{{ type }}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ type|capitalize }}: </strong>
		{% for message in messageList %}
			<span class="message-test">
				{{ message.getMessage }}
			</span>
		{% endfor %}
	</div>
{% endfor %}
</div>