<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Slick: PHP 5.3+ Framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ _basePath }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ _basePath }}css/main.css" rel="stylesheet" media="screen">
    <link href="{{ _basePath }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

    <link rel="shortcut icon" href="favicon.ico">

  </head>
  <body>
    {% block navBar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

          </button>
          <a class="brand" href="{{ url("pages/home") }}">{% trans "Slick Framework" %}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="container">
      {% block mainContent %}
      	<section class="row main-content">
          {% include "Session/messages.html" %}
			<div class="span9">
				{% block content %}{% endblock %}
			</div>
			<div class="span3">
        {% block sidebar %}
        <div class="page-header">
          <h4>Installed plugins</h4>
        </div>
        <p>{% trans "These are the loaded plugins for this application." %}</p>
        <ul class="unstyled">
  				{% for plugin in _plugins %}
          <li><small>{{ plugin.name }}: {{ plugin.version }}</small></li>
          {% endfor %}
        <ul>
        {% endblock %}
			</div>
		</section>
    {% endblock %}
		<section class="row footer">
      {% block footer %}
      {% endblock %}
		</section>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ _basePath }}js/bootstrap.min.js"></script>
  </body>
</html>